<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.diagnosticpipeline.request</key>
	<true/>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.lsapplicationproxy.deviceidentifierforvendor</key>
	<true/>
	<key>com.apple.modelmanager.query</key>
	<true/>
	<key>com.apple.private.applesmc.user-access</key>
	<true/>
	<key>com.apple.private.biome.client-identifier</key>
	<string>com.apple.spindump</string>
	<key>com.apple.private.biome.read-only</key>
	<array>
		<string>GenerativeModels.GenerativeFunctions.Instrumentation</string>
		<string>GenerativeModels.GenerativeFunctions.SystemInstrumentation</string>
	</array>
	<key>com.apple.private.intelligenceplatform.use-cases</key>
	<dict>
		<key>com.apple.SampleAnalysis</key>
		<dict>
			<key>Streams</key>
			<array>
				<string>GenerativeModels.GenerativeFunctions.Instrumentation</string>
				<string>GenerativeModels.GenerativeFunctions.SystemInstrumentation</string>
			</array>
		</dict>
	</dict>
	<key>com.apple.private.kernel.get-kext-info</key>
	<true/>
	<key>com.apple.private.logging.diagnostic</key>
	<true/>
	<key>com.apple.private.logging.stream</key>
	<true/>
	<key>com.apple.private.osanalytics.defaults.allow</key>
	<true/>
	<key>com.apple.private.roots-installed-read-only</key>
	<true/>
	<key>com.apple.private.security.storage.os_eligibility.readonly</key>
	<true/>
	<key>com.apple.private.security.storage.spindump</key>
	<true/>
	<key>com.apple.private.stackshot</key>
	<true/>
	<key>com.apple.private.xpc.launchd.per-user-lookup</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/db/eligibilityd/eligibility.plist</string>
		<string>/private/var/db/os_eligibility/eligibility.plist</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>IOReportUserClient</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
	</array>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/db/eligibilityd/eligibility.plist</string>
		<string>/private/var/db/os_eligibility/eligibility.plist</string>
	</array>
	<key>com.apple.signpostsupport.notification.listen</key>
	<true/>
	<key>com.apple.system-task-ports.read</key>
	<true/>
	<key>com.apple.tailspin.dump-output</key>
	<true/>
	<key>com.apple.trial.status.deployment-environment.allow</key>
	<array>
		<integer>0</integer>
	</array>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
</dict>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.diagnosticpipeline.request</key>
	<true/>
	<key>com.apple.duet.activityscheduler.allow</key>
	<true/>
	<key>com.apple.lsapplicationproxy.deviceidentifierforvendor</key>
	<true/>
	<key>com.apple.modelmanager.query</key>
	<true/>
	<key>com.apple.private.applesmc.user-access</key>
	<true/>
	<key>com.apple.private.biome.client-identifier</key>
	<string>com.apple.spindump</string>
	<key>com.apple.private.biome.read-only</key>
	<array>
		<string>GenerativeModels.GenerativeFunctions.Instrumentation</string>
		<string>GenerativeModels.GenerativeFunctions.SystemInstrumentation</string>
	</array>
	<key>com.apple.private.intelligenceplatform.use-cases</key>
	<dict>
		<key>com.apple.SampleAnalysis</key>
		<dict>
			<key>Streams</key>
			<array>
				<string>GenerativeModels.GenerativeFunctions.Instrumentation</string>
				<string>GenerativeModels.GenerativeFunctions.SystemInstrumentation</string>
			</array>
		</dict>
	</dict>
	<key>com.apple.private.kernel.get-kext-info</key>
	<true/>
	<key>com.apple.private.logging.diagnostic</key>
	<true/>
	<key>com.apple.private.logging.stream</key>
	<true/>
	<key>com.apple.private.osanalytics.defaults.allow</key>
	<true/>
	<key>com.apple.private.roots-installed-read-only</key>
	<true/>
	<key>com.apple.private.security.storage.os_eligibility.readonly</key>
	<true/>
	<key>com.apple.private.security.storage.spindump</key>
	<true/>
	<key>com.apple.private.stackshot</key>
	<true/>
	<key>com.apple.private.xpc.launchd.per-user-lookup</key>
	<true/>
	<key>com.apple.security.exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/db/eligibilityd/eligibility.plist</string>
		<string>/private/var/db/os_eligibility/eligibility.plist</string>
	</array>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>IOReportUserClient</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
	</array>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/db/eligibilityd/eligibility.plist</string>
		<string>/private/var/db/os_eligibility/eligibility.plist</string>
	</array>
	<key>com.apple.signpostsupport.notification.listen</key>
	<true/>
	<key>com.apple.system-task-ports.read</key>
	<true/>
	<key>com.apple.tailspin.dump-output</key>
	<true/>
	<key>com.apple.trial.status.deployment-environment.allow</key>
	<array>
		<integer>0</integer>
	</array>
	<key>com.apple.usermanagerd.persona.fetch</key>
	<true/>
</dict>
</plist>
