<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.sysdiagnose_helper</string>
	<key>com.apple.aiml.rapidresourcedelivery.read-config</key>
	<true/>
	<key>com.apple.centaurid.xpc</key>
	<true/>
	<key>com.apple.corecapture.manager-access</key>
	<true/>
	<key>com.apple.generativeexperiences.sysdiagnose</key>
	<true/>
	<key>com.apple.hid.AppleDeviceManagementHIDFilter.entitlement</key>
	<true/>
	<key>com.apple.hid.manager.user-access-protected</key>
	<true/>
	<key>com.apple.intelligenceplatform.Sysdiagnose</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.profile</key>
	<true/>
	<key>com.apple.modelmanager.inference</key>
	<true/>
	<key>com.apple.nearbyd.diagnostics</key>
	<true/>
	<key>com.apple.networkrelay.diagnostic</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.nfcd.session.selogging</key>
	<true/>
	<key>com.apple.polaris.client</key>
	<true/>
	<key>com.apple.private.CoreRepairCore.repairInfo</key>
	<true/>
	<key>com.apple.private.ZhuGeSupport.CopyValue</key>
	<true/>
	<key>com.apple.private.appmanagedfeatures.configuration</key>
	<true/>
	<key>com.apple.private.container.debug</key>
	<true/>
	<key>com.apple.private.eligibilityd.dumpSysdiagnoseDataToDir</key>
	<true/>
	<key>com.apple.private.endpoint-security.xpc</key>
	<true/>
	<key>com.apple.private.eyecandy.sysdiagnose</key>
	<true/>
	<key>com.apple.private.iokit.batterydata</key>
	<true/>
	<key>com.apple.private.iokit.batterydataprecise</key>
	<true/>
	<key>com.apple.private.libnotify.statecapture</key>
	<true/>
	<key>com.apple.private.logging.diagnostic</key>
	<true/>
	<key>com.apple.private.managedclient.configurationprofiles</key>
	<true/>
	<key>com.apple.private.notificationcenter-system</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>com.apple.sysdiagnose_helper</string>
		</dict>
	</array>
	<key>com.apple.private.osanalytics.defaults.allow</key>
	<true/>
	<key>com.apple.private.psg.internal</key>
	<true/>
	<key>com.apple.private.tcc.allow-prompting</key>
	<array>
		<string>ktccservicesystempolicyallfiles</string>
	</array>
	<key>com.apple.private.wifivelocity</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Internal</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.runningboard.statecapture</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.cv3d.dgn</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<string>com.apple.intelligenceplatform.Sysdiagnose</string>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.voicetrigger.notbackedup</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleNVMeUpdateUC</string>
		<string>ASPUserClient</string>
		<string>AGXDeviceUserClient</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.powerlog</string>
		<string>systemgroup.com.apple.ReportMemoryException</string>
		<string>systemgroup.com.apple.configurationprofiles</string>
		<string>systemgroup.com.apple.lsd</string>
	</array>
	<key>com.apple.springboard.statedump</key>
	<true/>
	<key>com.apple.sysmond.client</key>
	<true/>
	<key>com.apple.tailspin.dump-output</key>
	<true/>
	<key>com.apple.tailspin.symbolication</key>
	<true/>
	<key>com.apple.trial.status.deployment-environment.allow</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
	</array>
	<key>com.apple.triald.internal</key>
	<true/>
	<key>com.apple.triald.system.internal</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wifivelocity</key>
	<true/>
	<key>com.apple.wirelessinsightsd.manager-access</key>
	<true/>
</dict>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.sysdiagnose_helper</string>
	<key>com.apple.aiml.rapidresourcedelivery.read-config</key>
	<true/>
	<key>com.apple.centaurid.xpc</key>
	<true/>
	<key>com.apple.corecapture.manager-access</key>
	<true/>
	<key>com.apple.generativeexperiences.sysdiagnose</key>
	<true/>
	<key>com.apple.hid.AppleDeviceManagementHIDFilter.entitlement</key>
	<true/>
	<key>com.apple.hid.manager.user-access-protected</key>
	<true/>
	<key>com.apple.intelligenceplatform.Sysdiagnose</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.profile</key>
	<true/>
	<key>com.apple.modelmanager.inference</key>
	<true/>
	<key>com.apple.nearbyd.diagnostics</key>
	<true/>
	<key>com.apple.networkrelay.diagnostic</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.nfcd.session.selogging</key>
	<true/>
	<key>com.apple.polaris.client</key>
	<true/>
	<key>com.apple.private.CoreRepairCore.repairInfo</key>
	<true/>
	<key>com.apple.private.ZhuGeSupport.CopyValue</key>
	<true/>
	<key>com.apple.private.appmanagedfeatures.configuration</key>
	<true/>
	<key>com.apple.private.container.debug</key>
	<true/>
	<key>com.apple.private.eligibilityd.dumpSysdiagnoseDataToDir</key>
	<true/>
	<key>com.apple.private.endpoint-security.xpc</key>
	<true/>
	<key>com.apple.private.eyecandy.sysdiagnose</key>
	<true/>
	<key>com.apple.private.iokit.batterydata</key>
	<true/>
	<key>com.apple.private.iokit.batterydataprecise</key>
	<true/>
	<key>com.apple.private.libnotify.statecapture</key>
	<true/>
	<key>com.apple.private.logging.diagnostic</key>
	<true/>
	<key>com.apple.private.managedclient.configurationprofiles</key>
	<true/>
	<key>com.apple.private.notificationcenter-system</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>com.apple.sysdiagnose_helper</string>
		</dict>
	</array>
	<key>com.apple.private.osanalytics.defaults.allow</key>
	<true/>
	<key>com.apple.private.psg.internal</key>
	<true/>
	<key>com.apple.private.tcc.allow-prompting</key>
	<array>
		<string>ktccservicesystempolicyallfiles</string>
	</array>
	<key>com.apple.private.wifivelocity</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Internal</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.runningboard.statecapture</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.cv3d.dgn</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<string>com.apple.intelligenceplatform.Sysdiagnose</string>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.voicetrigger.notbackedup</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleNVMeUpdateUC</string>
		<string>ASPUserClient</string>
		<string>AGXDeviceUserClient</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.powerlog</string>
		<string>systemgroup.com.apple.ReportMemoryException</string>
		<string>systemgroup.com.apple.configurationprofiles</string>
		<string>systemgroup.com.apple.lsd</string>
	</array>
	<key>com.apple.springboard.statedump</key>
	<true/>
	<key>com.apple.sysmond.client</key>
	<true/>
	<key>com.apple.tailspin.dump-output</key>
	<true/>
	<key>com.apple.tailspin.symbolication</key>
	<true/>
	<key>com.apple.trial.status.deployment-environment.allow</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
	</array>
	<key>com.apple.triald.internal</key>
	<true/>
	<key>com.apple.triald.system.internal</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wifivelocity</key>
	<true/>
	<key>com.apple.wirelessinsightsd.manager-access</key>
	<true/>
</dict>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.sysdiagnose_helper</string>
	<key>com.apple.aiml.rapidresourcedelivery.read-config</key>
	<true/>
	<key>com.apple.centaurid.xpc</key>
	<true/>
	<key>com.apple.corecapture.manager-access</key>
	<true/>
	<key>com.apple.generativeexperiences.sysdiagnose</key>
	<true/>
	<key>com.apple.hid.AppleDeviceManagementHIDFilter.entitlement</key>
	<true/>
	<key>com.apple.hid.manager.user-access-protected</key>
	<true/>
	<key>com.apple.intelligenceplatform.Sysdiagnose</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled.profile</key>
	<true/>
	<key>com.apple.modelmanager.inference</key>
	<true/>
	<key>com.apple.nearbyd.diagnostics</key>
	<true/>
	<key>com.apple.networkrelay.diagnostic</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.session.se</key>
	<true/>
	<key>com.apple.nfcd.session.selogging</key>
	<true/>
	<key>com.apple.polaris.client</key>
	<true/>
	<key>com.apple.private.CoreRepairCore.repairInfo</key>
	<true/>
	<key>com.apple.private.ZhuGeSupport.CopyValue</key>
	<true/>
	<key>com.apple.private.appmanagedfeatures.configuration</key>
	<true/>
	<key>com.apple.private.container.debug</key>
	<true/>
	<key>com.apple.private.eligibilityd.dumpSysdiagnoseDataToDir</key>
	<true/>
	<key>com.apple.private.endpoint-security.xpc</key>
	<true/>
	<key>com.apple.private.eyecandy.sysdiagnose</key>
	<true/>
	<key>com.apple.private.iokit.batterydata</key>
	<true/>
	<key>com.apple.private.iokit.batterydataprecise</key>
	<true/>
	<key>com.apple.private.libnotify.statecapture</key>
	<true/>
	<key>com.apple.private.logging.diagnostic</key>
	<true/>
	<key>com.apple.private.managedclient.configurationprofiles</key>
	<true/>
	<key>com.apple.private.notificationcenter-system</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>com.apple.sysdiagnose_helper</string>
		</dict>
	</array>
	<key>com.apple.private.osanalytics.defaults.allow</key>
	<true/>
	<key>com.apple.private.psg.internal</key>
	<true/>
	<key>com.apple.private.tcc.allow-prompting</key>
	<array>
		<string>ktccservicesystempolicyallfiles</string>
	</array>
	<key>com.apple.private.wifivelocity</key>
	<true/>
	<key>com.apple.proactive.PersonalizationPortrait.Internal</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.runningboard.statecapture</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.cv3d.dgn</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<string>com.apple.intelligenceplatform.Sysdiagnose</string>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.voicetrigger.notbackedup</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AppleNVMeUpdateUC</string>
		<string>ASPUserClient</string>
		<string>AGXDeviceUserClient</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.powerlog</string>
		<string>systemgroup.com.apple.ReportMemoryException</string>
		<string>systemgroup.com.apple.configurationprofiles</string>
		<string>systemgroup.com.apple.lsd</string>
	</array>
	<key>com.apple.springboard.statedump</key>
	<true/>
	<key>com.apple.sysmond.client</key>
	<true/>
	<key>com.apple.tailspin.dump-output</key>
	<true/>
	<key>com.apple.tailspin.symbolication</key>
	<true/>
	<key>com.apple.trial.status.deployment-environment.allow</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
	</array>
	<key>com.apple.triald.internal</key>
	<true/>
	<key>com.apple.triald.system.internal</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wifivelocity</key>
	<true/>
	<key>com.apple.wirelessinsightsd.manager-access</key>
	<true/>
</dict>
</plist>
